:root {
  --bgColor-accent-emphasis: rgb(51, 154, 240);
  --bgColor-accent-muted: rgb(208, 235, 255);
  --bgColor-default: #ffffff;
}

body {
  background-color: var(--bgColor-default);
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--bgColor-accent-emphasis);
  grid-row: 1 / 3;
}

.header {
  background-color: var(--bgColor-default);
}

.content {
  background-color: var(--bgColor-accent-muted);
}
