:root {
  --bgColor-accent-emphasis: rgb(51, 154, 240);
  --bgColor-accent-muted: rgb(208, 235, 255);
  --bgColor-default: #ffffff;
  --bgColor-neutral-muted: #dee2e6;

  --button-outline-bgColor-hover: #4dabf7;
  --button-primary-bgColor-hover: #237032;

  --fgColor-white: #ffffff;
  --fgColor-default: #030507;
  --fgColor-muted: #495057;

  --button-primary-bgColor-active: #2f9e44;
  --button-outline-fgColor-active: #ffffff;

  --data-orange-color-emphasis: #fab005;
  --bgColor-neutral-emphasis: #868e96;
}

body {
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template: 1fr 4fr / 1fr 4fr;
  min-height: 100vh;
}

.sidebar {
  align-content: start;
  background-color: var(--bgColor-accent-emphasis);
  display: grid;
  gap: 3rem;
  grid-row: 1 / 3;
  padding-top: 25px;
}

/* Brand */

.brand {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.brand > svg {
  width: 3rem;
  fill: var(--fgColor-white);
  justify-self: center;
  min-width: 2rem;
}

.brand > h1 {
  color: var(--fgColor-white);
  font-size: 2rem;
}

/* Navbar */

.nav {
  display: grid;
}

.nav-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  cursor: pointer;
  height: 3.5rem;
}

.nav-item > svg {
  fill: var(--fgColor-white);
  justify-self: center;
  width: 1.25rem;
}

.nav-item > p {
  font-size: 1rem;
  color: var(--fgColor-white);
  font-weight: bold;
}

.header {
  background-color: var(--bgColor-default);
  box-shadow: 0px 5px 6px 0px #25292e1f;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  padding: 0px 40px 10px 40px;
  z-index: 1;
}

.search-bar {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
}

.search-bar > svg {
  min-width: 1.5rem;
}

.search-bar > input {
  background-color: var(--bgColor-neutral-muted);
  border: 0px;
  border-radius: 20px;
  height: 2rem;
}

.profile-info {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-content: center;
  justify-self: end;
}

.profile-info > img {
  width: 2rem;
  min-width: 2rem;
}

.profile-info > svg {
  min-width: 1.4rem;
}

.profile-info > p {
  font-weight: 500;
}

.greeting {
  display: grid;
  column-gap: 10px;
  grid-template: 1fr 1fr / auto 1fr;
}

.greeting > img {
  align-self: center;
  grid-row: 1 / 3;
  width: 5rem;
}

.greeting > p {
  align-self: end;
}

.greeting > h1 {
  font-size: 1.2rem;
}

.controls {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-self: end;
}

.controls > button {
  background-color: var(--button-primary-bgColor-active);
  border: 0px;
  border-radius: 20px;
  color: var(--button-outline-fgColor-active);
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 30px;
}

.content {
  background-color: var(--bgColor-accent-muted);
  display: grid;
  gap: 20px;
  grid-template: 1fr 1fr / 3fr 1fr;
  padding: 20px;
}

.projects {
  grid-row: 1 / 3;
}

.section-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.card {
  background-color: var(--bgColor-default);
  border-radius: 10px;
  padding: 20px;
}

.announcements,
.trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcements h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.announcements p {
  font-size: 0.8rem;
  color: var(--fgColor-muted);
}

.announcements-card {
  align-content: start;
  display: grid;
  gap: 10px;
}

.trending-card {
  align-items: start;
  display: grid;
  gap: 10px;
}

.trending-card > div {
  column-gap: 5px;
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
  row-gap: 2px;
}

.trending img {
  align-self: center;
  grid-row: 1 / 3;
  width: 3rem;
}

.trending h3 {
  font-size: 0.9rem;
  font-weight: 400;
  align-self: end;
}

.trending p {
  color: var(--fgColor-muted);
  font-size: 0.8rem;
}

.projects > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  display: grid;
  grid-template-columns: 3% 1fr;
  background-color: var(--bgColor-default);
  border-radius: 10px;
}

.color-strip {
  background-color: var(--data-orange-color-emphasis);
  border-radius: 10px 0px 0px 10px;
}

.project-card-content {
  align-items: start;
  display: grid;
  grid-template: auto auto auto / auto 1fr;
  padding: 20px;
  row-gap: 10px;
}

.project-card-content > h3 {
  grid-column: 2 / 3;
}

.project-card-content > p {
  color: var(--fgColor-muted);
  grid-column: 2 / 3;
}

.project-card-content > div {
  display: grid;
  grid-auto-flow: column;
  grid-column: 2 / 3;
  justify-content: end;
  gap: 20px;
}

.project-card-content svg {
  width: 1.52rem;
  cursor: pointer;
}

/* Hover */

.nav-item:hover {
  background-color: var(--button-outline-bgColor-hover);
}

.controls > button:hover {
  background-color: var(--button-primary-bgColor-hover);
}

.project-card-content svg:hover {
  fill: var(--bgColor-neutral-emphasis);
}
