:root {
  --bgColor-accent-emphasis: rgb(51, 154, 240);
  --bgColor-accent-muted: rgb(208, 235, 255);
  --bgColor-default: #ffffff;
  --bgColor-neutral-muted: #dee2e6;

  --fgColor-white: #ffffff;

  --button-primary-bgColor-active: #2f9e44;
  --button-outline-fgColor-active: #ffffff;
}

body {
  background-color: var(--bgColor-default);
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template: 1fr 4fr / 1fr 4fr;
  min-height: 100vh;
}

.sidebar {
  align-content: start;
  background-color: var(--bgColor-accent-emphasis);
  display: grid;
  gap: 3rem;
  grid-row: 1 / 3;
  padding-top: 25px;
}

/* Brand */

.brand {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.brand > svg {
  width: 3rem;
  fill: var(--fgColor-white);
  justify-self: center;
  min-width: 2rem;
}

.brand > h1 {
  color: var(--fgColor-white);
  font-size: 2rem;
}

/* Navbar */

.nav {
  display: grid;
  gap: 20px;
}

.nav-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.nav-item > svg {
  fill: var(--fgColor-white);
  justify-self: center;
  width: 1.25rem;
}

.nav-item > p {
  font-size: 1rem;
  color: var(--fgColor-white);
  font-weight: bold;
}

.header {
  background-color: var(--bgColor-default);
  box-shadow: 0px 5px 6px 0px #25292e1f;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  padding: 0px 40px 10px 40px;
  z-index: 1;
}

.search-bar {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
}

.search-bar > svg {
  min-width: 1.5rem;
}

.search-bar > input {
  background-color: var(--bgColor-neutral-muted);
  border: 0px;
  border-radius: 20px;
  height: 2rem;
}

.profile-info {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-content: center;
  justify-self: end;
}

.profile-info > img {
  width: 2rem;
  min-width: 2rem;
}

.profile-info > svg {
  min-width: 1.4rem;
}

.profile-info > p {
  font-weight: 500;
}

.greeting {
  display: grid;
  column-gap: 10px;
  grid-template: 1fr 1fr / auto 1fr;
}

.greeting > img {
  align-self: center;
  grid-row: 1 / 3;
  width: 5rem;
}

.greeting > p {
  align-self: end;
}

.greeting > h1 {
  font-size: 1.2rem;
}

.controls {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-self: end;
}

.controls > button {
  background-color: var(--button-primary-bgColor-active);
  border: 0px;
  border-radius: 20px;
  color: var(--button-outline-fgColor-active);
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 30px;
}

.content {
  background-color: var(--bgColor-accent-muted);
}
